---
type Props = {
  src: string;
  poster?: string;
  class?: string;
};

const props = Astro.props
---

<script>
  import "mastodon-audio-player-web-component";
</script>

<div class={props.class}>
  <audio-player src={props.src} poster={props.poster}/>
</div>
