---
interface Props {
  src: string;
  poster: string;
  description?: string;
  class?: string
}

const { src, poster, class: className } = Astro.props;
---
<div class={className}>
  <video
    class={`w-full h-auto rounded-xl`}
    controls
    poster={poster}
    src={src}
  />
</div>